$def with (form)
<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src='http://cdn.bitbucket.org/pellepim/jstimezonedetect/downloads/jstz-1.0.4.min.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript">
    $$(document).ready(function () {
        var tz = jstz.determine().name();
        document.getElementById('timezone').value = tz;
    });
    </script>
</head>
<h1> Welcome to the 'create match' page of SmashOnline (Tentative Title)</h1>

<form name="main" method="post">
$:form.render()    
</form>