$def with (matches)
<head>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>

<h1> Welcome to the homepage of SmashOnline (Tentative Title)</h1>
<a href="/create">Create a Match</a><br><br/>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Netcode</th>
        <th>Location</th>
    </tr>
    $for match in matches
        <tr>
            <td>$match.title</td>
            <td>$match.net_code</td>
            <td>$match.ip</td>
        </tr>
</table>